body{
    font:"microsoft YaHei", "arial", "sans-serif";
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.asidemenu{
    position: fixed;
    height: 80%;
    width: 200px;
    border-bottom: 1px solid #dddddd;
    margin-top: 30px;
}
.asidemenu ul{
    width: 100%;
    height: 100%;
    overflow-y:scroll;
    margin: 0;
    padding-left: 0;
}
.asidemenu ul li{
    width: 100%;
    height: 30px;
    list-style: none;
    border-bottom: 1px solid #c1c1c1;
    text-align: left;
    line-height: 30px;
    cursor: pointer;
    text-indent: 20px;
}
.asidemenu ul li:hover{
    background-color: #dddddd;
}
.index_nav{
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #dddddd;
    height: 30px;
    line-height: 30px;
    display: block;
    width: 100%;
}

a{
    outline: none;
}

.main_content{
    position: absolute;
    bottom: 0;
    left: 200px;
    right: 0;
    top: 30px;
    overflow-y: auto;
    z-index: 100;
    background-color: #FFFFF0;
}

thead {color:green;}
tbody {color:blue;}

table, th, td {
    border: 1px solid black;
}

textarea{
    background-color: #FFFFF0;
    border: none;
    font-size: 14px;
    line-height: 28px;
    width: 100%;
    height: 500px;
}

#main{
    overflow-x: hidden;
}

.mtabs {
    width:100%;
    overflow:hidden;
}
.mhead {
    height:38px;
    border-top:2px solid #9ac7ed;
    background:#ECF2F6;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    list-style: none;
}
.mhead li {
    position:relative;
    font-size:1.125em;
    text-align:center;
    float:left;
    width:64px;
    height:38px;
    line-height:38px;
    color:#2a70be;
}
.mhead li.current {
    border-top:2px solid #2a70be;
    margin-top:-2px;
    background:#FFF;
    color:#c14545;
}
.mcontent {
    width:100%;
    overflow:hidden;
}
.mcontent ul {
    width:100%;
    display: inline-block;
}
.mcontent li {
    height:35px;
    line-height:35px;
    font-size:1.125em;
    padding:0 10px;
}
